/*General*/

body {
    background-color: #222222;
}

a:link {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

@font-face {
    font-family: Photograph Signature;
    src: url(Photograph-Signature.woff);
}

@font-face {
    font-family: GRIFTER;
    src: url(GRIFTER.woff);
}




/*Overlay Menu*/

/*
These lines of code below are for the overlay menu. The original code of the menu is from https://www.w3schools.com/howto/howto_js_sidenav.asp (specifically "Sidenav Full-width")
I adjusted the code for my purpose (e.g., animation from top to bottom and reversed; menu links aligned in the middle)
*/

.overlayMenu {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #1D1D1D;
    opacity: 90%;
    overflow-x: hidden;
    transition: 0.5s;
    top: 0;
}

.overlayMenu .closeButton {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 50px;
    color: ghostwhite;
}

.closeButton:hover {
    color: coral;
}

.menuLinks {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
    margin-top: 3%;
}

.menuLinks a {
    padding: 0.5%;
    font-size: 40px;
    color:  ghostwhite;
    display: block;
    font-family: GRIFTER, sans-serif;
}

.menuLinks a:hover {
    color: coral;
}

/*End*/





/*Main Section*/

.containerMain {
    display: grid;
    height: 50vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}


/*Title*/

.title {
    grid-column: 3/7;
    grid-row: 3;
}

.header1 {
    font-family: GRIFTER, sans-serif;
    color: ghostwhite;
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 0%;
}



/*Menu bar at the right side*/

.menu {
    grid-column: 11;
    grid-row: 1/7;
    justify-self: center;
}

.rightBarTop {
    height: 30%;
    background: coral;
}

.menuBox {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;

}

.displayMenu {
    font-family: McLaren, sans-serif;
    writing-mode: vertical-rl;
    letter-spacing: 5px;
    font-size: 35px;
    color: ghostwhite;
    margin: 0%;
    cursor: pointer;
}

.displayMenu:hover {
    color: coral;
}

.rightBarBottom {
    grid-row: 6/7;
    height: 40%;
    background-color: coral;
}


/*Alternative Menu*/

.navBar {
    display: none;
    width: 100%;
    height: 60px;
    top: 0;
    background-color: coral;
    font-family: Avenir, sans-serif;
    font-weight: bold;
    color: #222222;
}

.navBar h2 {
    padding: 1rem;
    padding-top: 0;
}

.navBar h2:hover {
    color: ghostwhite;
    cursor: pointer;
}



/*Scroll to top button*/

/*
These lines of code below are for the button on the right had side that lets you scroll to top automatically, the original code of the button is from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp
I adjusted the button for my website 
*/

#toTopButton {
    display: none;
    bottom: 70px;
    right: 70px;
    position: fixed;
    z-index: 2;
    background-color: coral;
    border: none;
    color: aliceblue;
    padding: 15px;
    transform: rotate(45deg);
    opacity: 65%;
}

#arrow {
    transform: rotate(-135deg)
}

#toTopButton:hover {
    background-color: #EEAD94;
}

/*End*/





/*Content*/

.contentContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.contentBackground {
    grid-column: 2/12;
        background-color: #222222;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    box-shadow: 1px 15px 70px #000000;
}


/*AboutMe*/

.aboutMe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*General*/

.aboutMeContainerMain {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.aboutMeContainer {
    padding: 4rem;
    padding-top: 2rem;
}

.aboutMeTitle {
    font-family: GRIFTER, sans-serif;
    font-size: 60px;
    letter-spacing: 1px;
    color: ghostwhite;
}

.aboutMeText {
    font-family: Avenir, sans-serif;
    font-size: 25px;
    color: lightgray;
}

.aboutMePictureContainer {
    display: flex;
    align-items: center;
    padding: 1.5em;
    padding-top: 2.5em;
    float: right;
}

.picture {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    opacity: 85%;
}


.divider {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.line {
    width: 80%;
    height: 5px;
    background-color: ghostwhite;
    opacity: 10%;
}



/*UX*/

.UX {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.uxContainerMain {
    width: 100%;
    height: 100%;
    display: flex;
}

.uxContainer {
    padding: 4rem;
}


/*Education and Skills*/


/*General*/

.esContainerMain {
    width: 100%;
    height: 100%;
    display: flex;
}

.esContainer {
    display: flex;
    padding: 2em;
    width: 100%;
}

.educationContainer {
    font-family: Avenir, sans-serif;
    text-align: center;
    width: 50%;
}

.edTitle {
    font-size: 45px;
    color: ghostwhite;
    letter-spacing: 3px;
}

.edG {
    font-size: 25px;
    color: lightgray;
}

.edCS {
    font-size: 30px;
    color: lightgray;
}

.edUX {
    font-size: 45px;
    color: lightgray;
}


.skillsContainer {
    width: 50%;
    width: 50%;
    font-family: Avenir, sans-serif;
}

.skTitle {
    font-size: 45px;
    text-align: center;
    color: ghostwhite;
    letter-spacing: 3px;
}

.skHeaders {
    font-size: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
    color: lightgray;
}

.skDescription {
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0.5em;
    color: lightgray;
}
.skDescriptionBottom {
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0.5em;
    margin-bottom: 3em;
    color: lightgray;
}



/*Resume*/

.resumeContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #464646;
}

.resumeLink {
    width: 50%;
    padding: 2em;
    text-align: center;
    font-family: Avenir, sans-serif;
    text-decoration: underline;
    font-size: 25px;
    letter-spacing: 2px;
    color: ghostwhite;
}



/*Connect*/

.connect {
    display: flex;
    padding: 5rem;
    padding-left: 6rem;
    padding-right: 6rem;
    box-shadow: 0px 5px 55px #191919;
}

.connectContainerMain {
    width: 100%;
    display: flex;
}

.connectContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.connectTitle {
    font-family: GRIFTER, sans-serif;
    font-size: 45px;
    color: dimgrey;
    font-weight: heavy;
    margin: 0%;
}

.email {
    font-family: Roboto, sans-serif;
    font-size: 25px;
    color: dimgray;
    margin: 0%;
    margin-top: 5%;
}

.email:hover {
    color: coral;
}


/*Social*/

.socialContentContainer {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.socialIconContainer {
    height: 100%;
    display: flex;
    justify-self: flex-end;
}

/*I don't have these social media integrations (yet) but I would like to have them in the future*/

.socialIcon {
    margin-right: 1rem;
    height: 37px;
    width: 37px;
}

.socialIcon:hover {
    background-color: #444444;
    cursor: pointer;
}




/*Footer*/

.footerContainer {
    grid-column: 2/12;
    background-color: #222222;
}

.copyright {
    display: flex;
    justify-content: center;
}

.copyrightText {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: dimgray;
}
